#login {
    visibility: visible;
}

#logout {
    visibility: visible;
}

#tech-blog {
    text-align: center;
}

.post-title {
    background-color: aqua;
    text-align: center;
}

.post {
    border: 2px solid #1270c3;
    margin: 25px;
}
